* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-container {
    color: brown;
    background-color: aqua;
    font-weight: bold;
}

.footer-container {
    color: brown;
    background-color: aqua;
    font-weight: bold;
}